@model IEnumerable<ClassifiedApp.Models.ClassifiedAd>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsExpired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsExpired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassifiedAdId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassifiedAdId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassifiedAdId })
        </td>
    </tr>
}

</table>
